 * {
    
      margin: 0;
      padding: 0;
      box-sizing: border-box; 
      
     
    
    }
      .logo{
          width: 80px;
          margin-left: 20px;
          background-image: url("logo.png"); 
          background-size: cover;
          animation: pulse 1s infinite;
        }
        
        
    .nav{
        width: 100%;
       
        background-color: #5a5a5d;
        border:solid black 2px;
      
      
    }
     
    .nav ul{
        border-color: #3c3c3e;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
       
    }
    .nav ul li {
        margin: 10px;
        padding: 10px;
        text-align: center;
        

      
    }
.nav ul li a{
 
    width: 100%;
    text-decoration: white;
    color: #ededef;
    align-content: flex-end;
    
   
}


.menu-bar {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  border: solid black 2px;
  border-color: rgb(67, 65, 65);
  background-color: #464648;
}

.menu-bar ul {
  display: flex;
  flex-wrap: wrap; /* helps responsiveness */
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu-bar ul li {
  margin: 5px;
  padding: 10px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #ece5e5;
  font-size: 18px;
}








.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #dadadb;
}

.card {
    display: flex;
    width:100%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color:#f5f3f3;

}


.sub-container{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}





.sub-card{
    margin: 50px;
    width: 100px;
   border: transparent;
   border: 2px solid white;
     background-color:rgb(207, 205, 205);
    box-shadow: 0 0 10px rgba(243, 242, 242, 0.2);
    justify-content: center;
    
    
}

.sub-card h4{
    text-align: center;
}
.sub-card button{
   
    background-image:linear-gradient rgb(red, blue);
    margin-left: 20px;
    border-radius: 5px;
}




.container-1 {
    display: flex;   /* yeh missing tha */
    flex-wrap: wrap; /* cards neeche shift ho jayenge jab space kam hoga */
    margin: 0;
    padding: 10px;
    justify-content: center; /* optional: cards ko center karne ke liye */
    gap: 20px; /* cards ke beech space dene ke liye */
}


.card-1 {
    width: 200px; 
    height: 300px;  /* ek fixed width do taki flex me properly dikhai de */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px rgba(108, 166, 221, 0.5);
    flex-wrap: wrap;
}

.card-image img {
    width: 100%;
    height: 200px;
}
.content button {
    display: inline-block;
    
    background-color: white;
    text-decoration: none;
    border-radius: 4px;
    align-items: center;
    
}
.about text{
   width: 100px;
   height: 50;
   border-radius: 10px;
   overflow: hidden;
}

.container-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #414144;
}

.content-2{
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content-2 h3{
    text-align: center;
    margin-top: 20px;
}
.content-2 p{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 1.6;
   margin-top: 20px;
}
.content-2 ul{
    list-style: none;
    text-align: center;
}

.content-2 ul li{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    line-height: 1.6;
}
.content-2 ul li a{
    width: 100%;
    text-decoration: none;
    color: black;
}
.content-3{
    background-color: #3c3c3e;
    text-align: center;
}

button{
    background-color: wheat;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        
}